<section class="resume-section"  id="rxjsform">
<div class="reactive-form-container">
  <h3>RxJs with Reactive Form</h3>
    <p>Link to source code: <a class="social-icon" target="_blank" href="https://github.com/peternguyencs710/portfolio/blob/main/src/app/sideproject/reactive-form"><i class="fab fa-github"></i></a></p>

    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <div class="subheading mb-3">This tutorial uses the following</div>
        <div class="listcontainer">
          <div class="listcolumn">
              <ul>
                <li>RxJs subscribe / unsubscribe</li >
                <li>RxJs Subject / Observable</li>
                <li>RxJs Operator pipe/taken</li>
            </ul>
          </div>
          <div class="listcolumn">
            <ul>
                <li>Reactive form Module</li >
                <li>Reactive form validator</li>
            </ul>
          </div>
        </div>  
      </div>
    </div>

    <div class="form-container listcontainer">
      <div class="listcolumn" style="max-width:300px">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              [class.is-invalid]="submitted() && name?.invalid"
            />
            @if (submitted() && name?.invalid) {
              <div class="invalid-feedback d-block">
                @if (name?.errors?.['required']) {
                  <span>Name is required</span>
                }
                @if (name?.errors?.['minlength']) {
                  <span>Name must be at least 3 characters</span>
                }
              </div>
            }
          </div>

          <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              [class.is-invalid]="submitted() && email?.invalid"
            />
            @if (submitted() && email?.invalid) {
              <div class="invalid-feedback d-block">
                @if (email?.errors?.['required']) {
                  <span>Email is required</span>
                }
                @if (email?.errors?.['email']) {
                  <span>Please enter a valid email</span>
                }
              </div>
            }
          </div>

          <div class="form-group mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea
              class="form-control"
              id="message"
              rows="4"
              formControlName="message"
              [class.is-invalid]="submitted() && message?.invalid"
            ></textarea>
            @if (submitted() && message?.invalid) {
              <div class="invalid-feedback d-block">
                @if (message?.errors?.['required']) {
                  <span>Message is required</span>
                }
                @if (message?.errors?.['minlength']) {
                  <span>Message must be at least 10 characters</span>
                }
              </div>
            }
          </div>

          <div class="button-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
            <button type="button" class="btn btn-thirdly" (click)="loadForm()">Load Form</button>
          </div>
        </form>
        
        
      </div>
      <div class="listcolumn displaycolumn">
        <h6>Different method of memory management for subscription</h6>
        <code>
          <ul class="main">
            <li>ngOnDestroy()
              <ul>
                <li>this.subscription.unsubscribe()</li>
                <li>this.subscriptionList.forEach(sub =>  &#123;sub.unsubscribe&#125;);</li>
              </ul>
            
            </li>
            <li>{{'subTakenUntill!: Subject\<void>' }}
              <ul>
                <li>{{ 'pipe\(takeUntil\(this.subTakenUntill\)\).subscribe\()' }}</li>
                <li>{{ 'this.subTakenUntill.next()' }}</li>
              </ul>
            </li>
            <li>{{ 'RxJs OPERATOR take(1)' }}</li>
            <li>{{ 'Observable\<any | null>' }}
              <ul>
                <li>
                  using AsyncPipe to display data
                </li>
              </ul>
            </li>
          </ul>
        </code>
        <div>
          @if (loadData()) {
            <div *ngIf="formData$ | async as data">
              <p>Loading data using asyncPipe</p>
              {{ data | json }}
            </div>
          }
        </div>
      </div>
    </div>
</div>
</section>